.inputform-and-result
  .inputform-and-result__inputform
    -# 初期
    %table{class: 'inputform-and-result__inputform__active-table', id: 'table1'}
      %tr.inputform-and-result__inputform__table__list 
        %th.inputform-and-result__inputform__table__list--title 毎月積立額
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title 積立期間
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title リターン
        %td.inputform-and-result__inputform__table__list--input
          %input

    -# 変更
    %table{ class: 'inputform-and-result__inputform__table', id: 'table2'}
      %tr.inputform-and-result__inputform__table__list 
        %th.inputform-and-result__inputform__table__list--title 最終積立金額
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title 積立期間
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title リターン
        %td.inputform-and-result__inputform__table__list--input
          %input
    

    %table{ class: 'inputform-and-result__inputform__table', id: 'table3'}
      %tr.inputform-and-result__inputform__table__list 
        %th.inputform-and-result__inputform__table__list--title 最終積立金額
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title 毎月積立額
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title リターン
        %td.inputform-and-result__inputform__table__list--input
          %input

    %table{ class: 'inputform-and-result__inputform__table', id: 'table4'}
      %tr.inputform-and-result__inputform__table__list 
        %th.inputform-and-result__inputform__table__list--title 最終積立金額
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title 毎月積立額
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title 積立期間
        %td.inputform-and-result__inputform__table__list--input
          %input



  .inputform-and-result__btns
    %button.inputform-and-result__btns--calculate-btn 計算する
    %button.inputform-and-result__btns--reset-btn リセット


  .inputform-and-result__result
    %h.inputform-and-result__result--description 計算結果です
    .inputform-and-result__result--number ◯◯円