.inputform-and-result
  .inputform-and-result__inputform
    %table.inputform-and-result__inputform__table
      %tr.inputform-and-result__inputform__table__list 
        %th.inputform-and-result__inputform__table__list--title あああああ
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title いいいいい
        %td.inputform-and-result__inputform__table__list--input
          %input
      %tr.inputform-and-result__inputform__table__list
        %th.inputform-and-result__inputform__table__list--title ううううう
        %td.inputform-and-result__inputform__table__list--input
          %input
  .inputform-and-result__btns
    %button.inputform-and-result__btns--calculate-btn 計算する
    %button.inputform-and-result__btns--reset-btn リセット
  .inputform-and-result__result
    %h.inputform-and-result__result--description 計算結果です
    .inputform-and-result__result--number ◯◯円