%tr.inputform-and-result__inputform__table__list
  %th.inputform-and-result__inputform__table__list--title リターン
  %td.inputform-and-result__inputform__table__list--input
    %input{ class: 'inputform-and-result__inputform__table__list--input--return', type: 'number' } ％