%tr.inputform-and-result__inputform__table__list 
  %th.inputform-and-result__inputform__table__list--title 最終積立金額
  %td.inputform-and-result__inputform__table__list--input
    %input{ placeholder: '(例)10000000円'}