%tr.inputform-and-result__inputform__table__list
  %th.inputform-and-result__inputform__table__list--title 積立期間
  %td.inputform-and-result__inputform__table__list--input
    %input{ class: 'inputform-and-result__inputform__table__list--input--year', type: 'number', placeholder: '(例)20年'}
    %input{ class: 'inputform-and-result__inputform__table__list--input--month', type: 'number', placeholder: '(例)3ヶ月'}