%tr.inputform-and-result__inputform__table__list
  %th.inputform-and-result__inputform__table__list--title 積立期間
  %td.inputform-and-result__inputform__table__list--input
    %input{ placeholder: '20年'}
    %input{ placeholder: '3ヶ月'}