%tr.inputform-and-result__inputform__table__list
  %th.inputform-and-result__inputform__table__list--title 毎月積立額
  %td.inputform-and-result__inputform__table__list--input
    %input{ placeholder: '(例)10000円'}