%ul.tab-list
  %li{ class: 'tab-list__active-tab', id: 'tab1' } 最終積立金額を計算
  %li{ class: 'tab-list__tab', id: 'tab2' } 毎月積立額を計算
  %li{ class: 'tab-list__tab', id: 'tab3' } 積立期間を計算
  %li{ class: 'tab-list__tab', id: 'tab4' }リターンを計算