.header
  = '投資信託シミュレーションアプリ'

%ul.tab-list
  %li.tab-list__tab 最終積立金額を計算
  %li.tab-list__tab 毎月積立額を計算
  %li.tab-list__tab 積立期間を計算
  %li.tab-list__tab リターンを計算

.inputform-and-result
  .inputform-and-result__inputform
    %table.inputform-and-result__inputform__table
      %tr 
        %th あ
        %td 円
      %tr 
        %th い
        %td 円
      %tr
        %th う
        %td 円
  .inputform-and-result__btns
    %button.inputform-and-result__btns--calculate-btn 計算する
    %button.inputform-and-result__btns--reset-btn リセット
  .inputform-and-result__result
    %h.inputform-and-result__result--description 計算結果です
    .inputform-and-result__result--number ◯◯円