.header
  = '投資信託シミュレーションアプリ'

= render 'tabs'
-# %ul.tab-list
-#   %li.tab-list__tab 最終積立金額を計算
-#   %li.tab-list__tab 毎月積立額を計算
-#   %li.tab-list__tab 積立期間を計算
-#   %li.tab-list__tab リターンを計算

-# = render 'form'
