.header {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 32px;
  background-color: skyblue;
}

.tab-list {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  line-height: 90px;
  padding-top: 8px;
  
  &__tab {
    width: 240px;
    text-align: center;
    background-color: khaki;
    border-radius: 8px;
    cursor: pointer;
  }

  &__active-tab {
    width: 240px;
    text-align: center;
    background-color: skyblue;
    border-radius: 8px;
  }

  &__tab:hover {
    background-color: skyblue;
  }
  
}

.inputform-and-result {
  width: 80%;
  height: calc(100vh - 300px);
  display: flex;
  margin: 4px auto;
  justify-content: space-evenly;
  background-color: skyblue;
  border: solid 5px skyblue;
  border-radius: 8px;

  &__inputform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 180px;
    
    // スピンボタン削除
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }


    &__table {
      display: none;
      width: 400px;
      height: 80px;

      &__list {
        border: solid 2px white;
        height: 40px;
        
        &--title {
          background-color: lightslategray;
          width: 50%;
          font-weight: bold;
          text-align: center;
        }

        &--input {
          background-color: honeydew;
          text-align: center;
          font-weight: bold;
          color: slateblue;
          padding: 16px;
        }
      }
    }

    &__active-table {
      width: 400px;
      height: 80px;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // border: solid 1px black;

    &--calculate-btn {
      cursor: pointer;
    }

    &--reset-btn {
      cursor: pointer;
    }
  }

  &__result {
    border: solid 2px blueviolet;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 64px 0px;
    padding: 0px 40px;

    &--description {
      font-weight: bold;
    }

    &--number {
      text-align: center;
      font-weight: bold;
      color: red;
      border-bottom: solid 1px blue;
    }
  }
}